%h1= "Users"
= "Wellcome "+session[:user].name
- @users.each do |u|
  %p
    %strong Name: 
    = u.name
    %br
    %strong Email: 
    = u.email
    = "{"
    = link_to "Show", user_path(u.id)
    = "|"
    = link_to "Edit", edit_user_path(u.id)
    = "|"
    = link_to "Delete", user_path(u.id), :method => :delete
    = "}"
= link_to "Add new user", new_user_path
= link_to "Logout", signout